.trans {
  transition: all .15s ease-in-out;
  cursor: pointer;
}

.trans:hover {
  transform: translateX(10px);
}


/*Underlining*/
.animUnderline {
  position: relative;
}

.animUnderline::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.2s ease-out;
}

.animUnderline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.loader {
  fill: #f7931e;
}

.loader-1 {
  animation: start1 1000ms cubic-bezier(0.25, 0.1, 0.1, 1) infinite;
}

.loader-2 {
  animation: start1 1000ms cubic-bezier(0.25, 0.1, 0.1, 1) 100ms infinite;
}

.loader-3 {
  animation: start1 1000ms cubic-bezier(0.25, 0.1, 0.1, 1) 200ms infinite;
}

@keyframes start1 {
  0% {
    opacity: 0
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

.fade-out {
  animation: fadeOut 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}