@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  letter-spacing: 1px;
}

body {
  overflow-x: hidden;
  width: 100vw;
}

li {
  list-style: disc;
  margin-left: 2rem
}

.anchor {
  padding-top: 130px;
  margin-top: -130px;
}

.aw>li {margin-top: 8px;}

.slick-track {
  padding: 20px 0;
}